html,
body {
    font-size: 1em;
    height: 100%;
    margin: 0;
    min-width: 800px;
    min-height: 600px;
}

#terminal {
    height: 100%;
    background-color: black;
}

#control {
    position: fixed;
    right: 16px;
    top: 6px;
    z-index: 99999;
    color: white;
    display: none;
}

#control>span {
    display: inline-block;
    padding: 0px 8px;
    line-height: 26px;
    background-color: #57a2ff;
    border-radius: 4px;
    cursor: pointer;
}

ol {
    position: absolute;
    margin: 0;
    padding: 5px 10px;
    top: 30px;
    right: 0px;
    background: #57a2ff;
    display: none;
    max-width: 150px;
    border-radius: 4px;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
}

li span {
    cursor: pointer;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #999;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #999;
    -webkit-border-radius: 3px;
}

#login {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
    background-color: #f9f9f9;
}

#control,
#login {
    font-family: Arial;
}

label {
    margin-bottom: 7px;
}

label,
input {
    display: block;
    width: 100%;
}

input {
    padding: 6px 8px;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}
.margin-18 {
    margin-bottom: 18px;
}

.auth-form-header {
    text-align: center;
}

.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 0 0 3px 3px;
    width: 300px;
    margin: auto;
}

#submit {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 100%);
    cursor: pointer;
}