html,
body {
    font-size: 1em;
    height: 100%;
    margin: 0;
    min-width: 800px;
    min-height: 600px;
}

#terminal {
    height: 100%;
    background-color: black;
}

#control {
    position: fixed;
    right: 20px;
    top: 4px;
    z-index: 99999;
    color: white;
}

#control>span {
    display: inline-block;
    padding: 0px 8px;
    line-height: 26px;
    background-color: #57a2ff;
    border-radius: 4px;
    cursor: pointer;
}

ol {
    position: absolute;
    margin: 0;
    padding: 5px 10px;
    top: 30px;
    right: 20px;
    background: #57a2ff;
    display: none;
    max-width: 150px;
    border-radius: 4px;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
}

li span {
    cursor: pointer;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #999;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #999;
    -webkit-border-radius: 3px;
}

#login {
    position: fixed;
    left: 200px;
    top: 200px;
    background-color: white;
    padding: 20px;
}