html,
body {
    font-size: 1em;
    height: 100%;
    margin: 0;
    min-width: 800px;
    min-height: 600px;
}

#terminal {
    height: 100%;
}

#info {
    position: fixed;
    right: 21px;
    top: 4px;
    z-index: 99999;
}

#control {
    display: none;
}

#control>span {
    display: inline-block;
    padding: 0px 8px;
    line-height: 26px;
    background-color: #57a2ff;
    border-radius: 4px;
    cursor: pointer;
}

#download {
    position: relative;
}

ol {
    position: absolute;
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
    list-style: none;
    top: 30px;
    left: 69px;
    background: #57a2ff;
    color: white;
    display: none;
    text-align: left;
    max-width: 157px;
    border-radius: 5px;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: white;
}

a:active,
a:visited,
a:focus {
    color: white;
}
